.done {
    background-color: #b5e7a0;
}

.taskWrapper {
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, .2);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.taskHeading {
    font-size: 20px;
    margin-bottom: 15px;
}

.taskDescription {
    font-size: 16px;

}

.data-btns-wrapper {
    display: flex;
}

.data-delete-btn {
    height: 20px;
    width: 20px;
    background-image: url("../assets/btns/delete-btn.svg");
    background-repeat: no-repeat;
}